<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <header class="bg-primary text-white text-center py-2">
        <h1 class="display-4">Music Transcribe</h1>
    </header>
</head>

<body>
    {% if reject %}
        <div class="alert alert-danger" role="alert">
            The file you uploaded has too much noise and we cannot process it. Please try a different file.
        </div>
    {% endif %}
    <script src="https://unpkg.com/vexflow@4.1.0/build/cjs/vexflow-debug.js"></script>
    <script>
        function savePDF() {
            const { jsPDF } = window.jspdf;
            // Default export is a4 paper, portrait, using millimeters for units
            const doc = new jsPDF();

            doc.text("Hello world!", 10, 10);
            doc.save("a4.pdf");
        }
    </script>
    <div class = "container-fluid py-4">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <table>
                <div class="userValues">
                    {{form.as_p}}
                </div>
            </table>
            <input class="btn btn-primary" type="submit" value="Submit">
            <input class="btn btn-primary" type="submit" value="Save PDF" onclick="savePDF()">
        </form>
    </div>

    <div id="test">
        {% if integrated %} {{integrated|safe}} {% endif %}
    </div>
    
    <div id="notebox" >
        {%if formatted %}
            {{formatted|safe}}
        {% endif %}
    </div>

    {%if pitches|length > 0 %}
        <div id="boo"></div>
        <div id="musicsheet"></div>
        <script type="module">
            function getTimeSignature(timeSignature) {
                switch (timeSignature) {
                    case 1:
                        timeSignature = "4/4";
                    case 0.75:
                        timeSignature = "3/4";
                    case 0.5:
                        timeSignature = "2/4";
                    case 0.25:
                        timeSignature = "1/4";
                    case 0.752: // added a 2 at end since 6/8 = 3/4 in terms of decimal value
                        timeSignature = "6/8";
                    case 0.375:
                        timeSignature = "3/8";
                }
            }

            import { getNoteList, Note } from "{% static 'js/transcribe.js' %}"
            import { getStaves, getStaveNotes, convertToVex } from "{% static 'js/helpers.js' %}"
            
            // Start of Transcription code
            const { Renderer, Stave, Formatter, StaveNote, Beam, TickContext, StaveTie, Dot } = Vex.Flow;
            Renderer.DEBUG = true;
            Stave.DEBUG = true;
            Formatter.DEBUG = true;
            StaveNote.DEBUG = true;
            Beam.DEBUG = true;

            // Create an SVG renderer and attach it to the DIV element named "boo".
            const div = document.getElementById("musicsheet");
            const renderer = new Renderer(div, Renderer.Backends.SVG);
            var tickContext = new TickContext();

            var timeSigNum = 4;
            var timeSigDenom = 4;
            let timeSignature = getTimeSignature({{timeSignature|safe}});
            let clef = "treble";
            try {
                //TODO: this will not work for some reason.
                clef = {{clef}};
            } catch (e) {
                console.log("Obtaining clef error + ", e);
            }
            
            // Get the pitches, and onsets array.
            var pitches = {{pitches|safe}};
            var onsets = {{onsets|safe}};
            var integrated = {{integrated|safe}};
            var formatted = {{formatted|safe}};
            var numberStaves = {{number_staves}};
            console.log("formatted: " + formatted)
            console.log("staveList: " + staveList);
            console.log("staveNotes: " + staveNotes);
            console.log("context: " + context);
            console.log("NumStaves: ", numberStaves);
            console.log("Integrated: " + integrated);
            console.log("numStaves: " + numberStaves);

            integrated.forEach(note => {
                console.log("key: " + note.key);
                console.log("duration: " + note.duration);
            });

            // Set sizing of render.
            var startx = 50;
            var starty = 100;
            var staveWidth = 400;
            var staveHeight = 90;
            var contextWidth = 3;
            var contextHeight = numberStaves / 3 + numberStaves;
            renderer.resize(staveWidth*contextWidth, staveHeight * contextHeight);
            var context = renderer.getContext();
            var staveList = getStaves(startx, starty, staveWidth, staveHeight, contextWidth, contextHeight, Vex);

            // Start drawing elements in stave.
            staveList[0].addClef(clef);
            staveList[0].addTimeSignature(timeSignature)
            staveList = staveList.slice(0, numberStaves)
            staveList.forEach(stave => {
                stave.setContext(context).draw();
            });


            // Draw notes belonging to a specific stave index in that stave.
            var staveNotes = []
            for (let staveIndex=0; staveIndex<numberStaves; staveIndex++) {
                let measure = [];
                let currentStave = formatted[staveIndex]
                currentStave.forEach(note => {
                    console.log("note: " + note)
                    
                    if (note.invisible) return;

                    let staveNote = new StaveNote({
                        keys: [note.key],
                        duration: note.duration,
                        type: note.typ,
                    })

                    if (note.dot) {
                        staveNote.addModifier(new Dot());
                    }
                    
                    measure.push(staveNote)
                    staveNotes.push(staveNote);
                })
                console.log("measure: " + measure)
                if (measure.length > 0) {

                    console.log("context: " + context + "\nstaveList: " + staveList + "\nmeasure: " + measure)
                    Formatter.FormatAndDraw(context, staveList[staveIndex], measure);

                }
            }
            // Check to see if we need to tie any notes.
            for (let i=0; i<formatted.length-1; i++) {
                if (formatted[i].next) {
                    let tie = new StaveTie({
                        first_note: staveNotes[i],
                        last_note: staveNotes[i+1],
                        first_indices: [0],
                        last_indices: [0],
                    })
                    tie.setContext(context).draw();
                }
            }
        </script>
    {% endif %}

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright
        </div>
    </footer>
</body>